<div class="panel panel-default page-presentation">
	<div class="panel-body">
		<div class="rsvp col-xs-2 col-sm-2">
			<i>{{$storage.like}}</i> <i>{{$storage.unlike}}</i>
			<div class="hidden-xs">
				<span class="fa fa-thumbs-up fa-2x"
					ng-click="$storage.like = $storage.like + 1"></span> <span
					class="fa fa-thumbs-down fa-2x"
					ng-click="$storage.unlike = $storage.unlike - 1"></span>
			</div>
		</div>
		<div class="info col-xs-8 col-sm-7">
			My Resume
			<div class="hidden-xs">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#profile"
						aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
					<li role="presentation"><a href="#location"
						aria-controls="location" role="tab" data-toggle="tab">Contact</a></li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane " id="location">
						<div class="address">
							<span class="address-line"
								ng-repeat="address in resume.personal.address.address">
								{{address}} • </span> {{resume.personal.address.city}} •
							{{resume.personal.address.state}} •
							{{resume.personal.address.postal}} •
							{{resume.personal.address.country}}
						</div>
						<span ng-repeat="contact in resume.personal.contacts"
							class="contact"> <span ng-if="!$first"> • </span>
							{{contact}}
						</span>
					</div>
					<div role="tabpanel" class="tab-pane active" id="profile">
						{{resume.presentation}}</div>



				</div>
			</div>
		</div>
		<div class="author col-xs-2 col-sm-3">
			<div class="profile-image">
				<img src="images/my-pic.jpg" />
			</div>
			<div class="profile hidden-xs">
				<strong>{{resume.personal.name}}</strong>
				<div class="hidden-sm"> 
               
                <div id="fb" fb-like ></div>
      
           <hr>
         
                <div id="gp" google-plus></div>
     </div>
				<div class="links hidden-sm">
					<a ng-href="{{resume.social_links.GitHub}}" target="_blank"><i
						class="fa fa-github-square fa-2x col-xs-3"></i></a> <a
						ng-href="{{resume.social_links.Google}}" target="_blank"> <i
						class="fa fa-google-plus-square fa-2x col-xs-3"></i></a> <a
						ng-href="{{resume.social_links.Facebook}}" target="_blank"> <i
						class="fa fa-facebook-square fa-2x col-xs-3"></i></a> <a
						ng-href="{{resume.social_links.Linkedin}}" target="_blank"> <i
						class="fa fa-linkedin-square  fa-2x col-xs-3"></i></a>
				</div>
			</div>

		</div>
	</div>
</div>