<h1>Code Samples</h1>

<div ng-repeat="code_sample in resume.code_samples" class="code-sample">
	<h2 class="hidden-print">
		<a ng-href="{{code_sample.url}}">{{code_sample.name}}</a>
	</h2>

	<div class="visible-print hidden-xs hidden-sm hidden-md hidden-lg">
		<h2>{{code_sample.name}}</h2>
		<span class="code-sample-url">{{code_sample.url}}</span>
	</div>	'
</div>

<h1>Video Presentations</h1>
<div class="entry-video">
		<h2>&nbsp;</h2>
		<div class="entry-vid">
			<iframe ng-src="{{video.data}}" width="280" height="200"
				frameborder="0" webkitAllowFullScreen mozallowfullscreen
				allowFullScreen></iframe>
		</div>
		<div class="entry-text">
			<div class="entry-title">{{video.title}}</div>
		</div>
	</div>